<%-include("../../partials/header2")%>
<div class="cent1">

    <div class="task12">
       <div class="adscard">
        <div class="thumb23">
            <img src="/image/AVM-App-RC-X-1.png" alt="thumb">
        </div>
        <div class="adstitle">ADVERT POST FOR 23RD AUGUST 2023.</div>
        <div class="adscontent">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam eaque odit suscipit aliquid placeat quas. Enim, quas sed mollitia unde ipsam numquam. Animi quas eaque odio doloremque quasi voluptatem molestiae, corrupti architecto, ullam totam provident sapiente aut quo laudantium.</p><span><a href="#" >Read More...</a></span>
        </div>
        <div class="adsbutton">
            <button><ion-icon name="logo-whatsapp" style="color: #49c95a;"></ion-icon></button>
            <button><ion-icon name="logo-twitter" style="color: #1c9cea;"></ion-icon></button>
            <button><ion-icon name="logo-facebook" style="color: #4064ac;"></ion-icon></button>
        </div>
       </div>


        


</div>

</div>
<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>