.WelcomeBonus {
    color      : rgba(3, 46, 163, 0.9);
    font-size  : 15px;
    font-weight: 500;
}

.dropdown-content {
    overflow        : hidden;
    left            : 10px;
    top             : 55px;
    padding-top     : 4px;
    padding-bottom  : 4px;
    padding-left    : 10px;
    padding-right   : 10px;
    border-radius   : 8px;
    display         : none;
    position        : absolute;
    background-color: #f9f9f9;
    min-width       : 160px;
    height          : auto;
    box-shadow      : 0px 8px 16px 0px rgba(90, 90, 90, 0.856);
    z-index         : 1;

}

.dropdown-content.show {
    display: block;
}

.cont button {
    font-size      : 11;
    text-decoration: none;
    color          : #350D73;
}

.dropdown-header {
    margin-bottom: 0;
    font-size    : 14px;
    color        : #260458;
    white-space  : nowrap;
    margin-top   : 5px;
}

.dropdown-divider {
    margin-bottom: 15px;
    margin-top   : 9px;
    overflow     : hidden;
    border-top   : 1px solid #350D73;
}

.dropdown-divider2 {
    width        : 90%;
    margin-bottom: 15px;
    margin-top   : 9px;
    overflow     : hidden;
    border-top   : 1px dashed #ffffff;
}

.dropdown-item {
    display         : block;
    width           : 100%;
    padding         : 4px;
    clear           : both;
    font-weight     : 400;
    text-align      : inherit;
    white-space     : nowrap;
    background-color: transparent;
    border          : 0;
    font-size       : 13px;

}

.dropdown-item ion-icon {
    font-size    : 17px;
    margin-bottom: -4px;
    padding-top  : 5px;
}

.dropname {
    padding-left: 5px;
}

.dropdown-content ul {
    list-style: none;
    color     : #350D73;
}

.sidebar {
    align-items            : center;
    display                : none;
    position               : fixed;
    height                 : 80%;
    background             : #350D73;
    border-top-right-radius: 50px;
    bottom                 : 0;
    left                   : 0;
    width                  : 250px;
    overflow               : hidden;
    z-index                : 99999999;
    padding-left           : 9px;
    padding-top            : 15px;
    padding-right          : 10px;
    flex-direction         : column;
}

.sidebar.active {
    left   : 0;
    display: flex;
}

.SidebarHeader {
    width          : 100%;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    gap            : 5px;
}

.userimg img {
    background: #890196fd;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 3px;
    width: 8
    30px;
    object-fit: cover;
    height: 30px;
    box-shadow: 2px 2px 4px 0px rgba(60, 0, 109, 0.568), 3px 3px 4px 0px rgba(42, 0, 109, 0.493) inset;
}

.Sidebarname {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    display        : flex;
}

.Sidebarname .stp {
    color        : #ffffff;
    font-weight  : 600;
    font-size    : 16px;
    margin-bottom: -4px;
}

.lv {
    font-size: 10px;
    color    : #09cfe9;
}

.Sidebar-content {
    width          : 100%;
    flex-direction : column;
    display        : flex;
    align-items    : flex-start;
    justify-content: space-between;
    gap            : 7px;
    margin-top     : 30px;
    max-height     : 420px;
    overflow-y     : auto;
    overflow-x     : hidden;
}

.dropdown-item2 {
    background-color: transparent;
    border          : none;
    display         : flex;
    align-items     : center;
    color           : #ffffff;
    font-size       : .9375rem;
    font-family     : Gantari, sans-serif;
}

.dropdown-item2 ion-icon {
    font-size: 20px;
}

.Sidebar-content button:hover {
    color        : #350D73;
    background   : #ffd900;
    padding      : 9px;
    border-radius: 9px;
    width        : 80%;
}


.sub-list {
    align-items    : flex-start;
    justify-content: center;
    display        : none;
    width          : 100%;
    padding-left   : 30px;

}

.sub-list-active {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

.sub-list a {
    color          : rgb(255, 255, 255);
    padding        : 12px 16px;
    text-decoration: none;
    display        : block;
}

.sub-list a:hover {
    color        : #350D73;
    background   : #ffd900;
    padding      : 10px;
    border-radius: 9px;

}

.subp3 {
    position: relative;
}

.chevron-down {
    position  : absolute;
    left      : 170px;
    margin-top: 6px;
}

.upgrade-container {
    width          : 100%;
    display        : flex;
    justify-content: center;
    height         : 80vh;
    border-radius  : 7px;
    background     : #FFF;
    box-shadow     : 2px 2px 4px 0px rgba(55, 31, 110, 0.25) inset, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    overflow       : hidden;

}

.table-content {
    border-radius: 7px;
    width        : 100%;
    height       : 80vh;
    overflow     : auto;

}

table,
th,
td {

    text-align     : center;
    border-collapse: collapse;
    padding        : 7px;
}

table {
    width: 100%;
}

thead th {
    color           : #fff;
    position        : sticky;
    top             : 0;
    background-color: #2c0666;
}

/* .body td {
 width: 200px;
    text-align: left;
        border-collapse: collapse;
        padding: 7px;
    } */
tbody tr {
    color    : #2c0666;
    font-size: 15px;
}

.body tbody tr {
    color    : #2c0666;
    font-size: 13px;
}

tbody tr:nth-child(even) {
    background-color: #4a07e62d;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 11rem;
    }
}

@media (max-width: 1000px) {
    td.nameaff:not(:first-of-type) {
        min-width : 25rem;
        text-align: left;
    }
}

.prombtn {
    padding         : 6px;
    border-radius   : 7px;
    background-color: #260458;
    color           : #FFF;
    border          : none;

}

.nameaff34 {
    font-weight    : 600;
    font-size      : 14px;
    text-align     : left;
    display        : flex;
    justify-content: center;
    flex-direction : column;
}

.nameaff34 span {
    font-weight: 400;
    font-size  : 8px;

}

.status.active {
    background-color: rgba(11, 224, 107, 0.541);
    border-radius   : 7px;
    padding-left    : 30px;
    padding-right   : 30px;
    padding-top     : 5px;
    padding-bottom  : 5px;
    color           : #2c0666;

}

.status.inactive {
    background-color: rgba(224, 11, 11, 0.541);
    border-radius   : 7px;
    padding-left    : 30px;
    padding-right   : 30px;
    padding-top     : 5px;
    padding-bottom  : 5px;
    color           : #2c0666;
}

.task12 {
    appearance        : none;
    -webkit-appearance: none;
    height            : 80vh;
    margin-top        : 70px;
    width             : 100%;
    height            : 80vh;
    padding-top       : 10px;
    background        : white;
    border-radius     : 10px;
    overflow          : hidden;
    flex-direction    : column;
    align-items       : center;
    display           : inline-flex;
}

.adscard {
    padding       : 10px;
    width         : 90%;
    max-height    : 90%;
    overflow      : hidden;
    display       : inline-flex;
    align-items   : center;
    flex-direction: column;
    border-radius : 7px;
    border        : 1px #350D73 solid;
}


.adscard .thumb23 {
    overflow     : hidden;
    border-radius: 7px;
    width        : 100%;
    height       : 50%;
    object-fit   : cover;
}

.adscard .thumb23 img {
    width         : 100%;
    height        : 100%;
    vertical-align: middle;
}

.adscard .adstitle {
    text-align    : left;
    padding-top   : 10px;
    color         : #260458;
    text-align    : left;
    font-size     : 1.3rem;
    font-weight   : 600;
    text-transform: uppercase;
}

.adscard .adscontent p {
    color             : #260458;
    font-size         : 17px;
    display           : -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    text-overflow     : ellipsis;
    margin            : 1, 0px 0px;
    padding           : 0;
}

.adscontent span a {
    background-color: #390883;
    color           : #fff;
    padding         : 8px;
    border-radius   : 5px;
    text-decoration : none;
}

.adscontent span a:hover {
    background-color: #671ada;
}

.adscard .adsbutton {
    padding    : 10px;
    margin-top : 20px;
    width      : 100%;
    display    : flex;
    align-items: flex-start;
    gap        : 10px;
}

.adsbutton button {
    border          : 0;
    padding         : 7px;
    background-color: #ffffff;
    border-radius   : 8px;
    border-radius   : 7px;
    box-shadow      : 2px 2px 4px 0px rgba(38, 4, 117, 0.25) inset, 3px 3px 4px 0px rgba(90, 7, 185, 0.25);
}

.adsbutton button ion-icon {
    font-size: 20px;
}

.addproduct {
    width           : 93%;
    height          : auto;
    background-color: #f5f5f5;
    margin-top      : 65px;
    display         : inline-flex;
    align-items     : center;
    flex-direction  : column;
    flex-wrap       : wrap;
    padding         : 12px;
    border-radius   : 7px;
    box-shadow      : 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset, 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-title {
    color         : #2c0666;
    font-weight   : 600;
    width         : 100%;
    padding-bottom: 20px;
}

.product-title h3 {
    display            : flex;
    font-size          : 1.5em;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0;
    margin-inline-end  : 0;
    font-weight        : bold;
}

.product-title p {
    display            : flex;
    font-size          : 11px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0;
    margin-inline-end  : 0;

}

.product-boady-add {
    width         : 100%;
    display       : inline-flex;
    align-items   : center;
    flex-direction: column;
}

.product-boady-add form {
    width          : 100%;
    display        : inline-flex;
    align-items    : center;
    justify-content: space-between;
    gap            : 10px;
    flex-direction : column;
}

.product-name {

    width: 100%;
}

.product-name label {
    color    : #350D73;
    font-size: 14px;
}

.product-name input {
    appearance        : none;
    -webkit-appearance: none;
    padding           : 9.5px;
    border            : none;
    background        : #FFF;
    outline           : none;
    color             : #350D73;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    width             : 100%;
    padding           : 15px;
    border-radius     : 7px;
    background        : #FFF;
    box-shadow        : 1px 1px 2px 0px rgba(81, 2, 146, 0.25) inset, 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}


.product-name input[type="number"]:focus , .product-name input[type="amount"]:focus , .product-name.sellername input[type="text"]:focus , .product-name input[type="text"]:focus {
    border-color: #350D73;
    box-shadow  : 0 0 7px #350D73;
}

.product-name input[type="address"]::placeholder, .product-name input[type="email"]::placeholder , .product-name input[type="password"]::placeholder , .product-name input[type="amount"]::placeholder , .product-name textarea[id="productdesc"]::placeholder , .product-name input[type="number"]::placeholder , .product-name input[type="text"]::placeholder  {
    color: #360d7383;
}

.product-name input[type="text"]:required:invalid , .product-name textarea[id="productdesc"]:required:invalid {
    border-color: #ff0b0b;
}


.product-name textarea {
    appearance        : none;
    -webkit-appearance: none;
    padding           : 9.5px;
    border            : none;
    background        : #FFF;
    outline           : none;
    color             : #350D73;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    width             : 100%;
    padding           : 10px;
    border-radius     : 7px;
    background        : #FFF;
    box-shadow        : 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset, 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-name select {
    appearance        : none;
    -webkit-appearance: none;
    background        : #ffffff;
    width             : 100%;
    height            : 100%;
    outline           : none;
    box-shadow        : 1px 1px 2px 0px rgba(53, 13, 115, 0.20), 1px 1px 2px 0px rgba(0, 0, 0, 0.20) inset;
    border-radius     : 7px;
    padding           : 15px;
    color             : #350D73;
}

.product-name select option:hover {
    background-color: #350D73;
    color           : #ffffff;
}

.product-name select option::backdrop {
    background-color: #350D73;
    color           : #fff;
}

.product-name select:focus {
    border    : 2px #430181;
    outline   : none;
    box-shadow: 0 0 4px #430181;
}

.imageUpload1 {
    overflow       : hidden;
    border         : none;
    background     : #FFF;
    outline        : none;
    color          : #350D73;
    display        : flex;
    justify-content: center;
    flex-direction : column;
    align-items    : center;
    width          : 100%;
    border-radius  : 7px;
    background     : #FFF;
    box-shadow     : 1px 1px 2px 0px rgba(81, 2, 146, 0.25) inset, 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

input[type="file"] {
    display: none;
}

.imageUpload {
    width           : 100%;
    align-items     : center;
    display         : flex;
    padding         : 8px 12px;
    padding-left    : 40px;
    cursor          : pointer;
    background-color: #32006b;
    color           : white;
    border          : none;
    align-items     : center;
    border-radius   : 7px;
    font-size       : 16px;
}

.imageUpload1 ion-icon {
    font-size   : 30px;
    color       : #f9f9f9;
    margin-right: 8px;

}


.product-boady-add button {
    margin-top        : 25px;
    appearance        : none;
    -webkit-appearance: none;
    width             : 100%;
    padding           : 15px;
    border            : 0;
    border-radius     : 7px;
    background-color  : #2c0666;
    color             : #f5f5f5;
    font-size         : 17px;
}

.note {
    display        : inline-flex;
    justify-content: center;
    flex-direction : column;
    width          : 95%;
    padding        : 10px;

}

.product-bal {
    width       : 100%;
    padding-left: 15px;
}

.product-bal span {
    background-color: #0011ff1a;
    padding         : 3px 10px 3px 10px;
    border-radius   : 7px;
    font-size       : 10px;
    color           : #3f0086;
}

.note p {
    width              : 100%;
    display            : flex;
    justify-content    : center;
    text-align         : center;
    font-size          : 10px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
}

#sellername {
    background-color: #26045815;
}

.vendor {
    margin-top     : 70px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 10px;
}

.vendor-card1 {
    position        : relative;
    box-shadow      : 0px 2px 4px #350D73;
    background-color: #350d73;
    width           : 50%;
    height          : 11.5vh;
    border-radius   : 7px;
    overflow        : hidden;
}

.vendor-card1 .cardsvg1 {
    position     : absolute;
    border-radius: 9999px;
    border       : 30px rgba(253.94, 253.94, 253.94, 0.13) solid;
    width        : 150px;
    height       : 150px;
    left         : 110px;
}

.vendor-card1 .cardsvg2 {
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;
    width        : 100px;
    height       : 100px;
    right        : 20px;
}

.vendor-card1 .cardsvg3 {
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;
    width        : 80px;
    height       : 80px;
}

.vendor-card1 .vendor-content {
    padding-left   : 10px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    color          : #fff;
    width          : 100%;
    height         : 15vh;
}

.vendor-content ion-icon {
    position : absolute;
    top      : 5;
    right    : 10;
    font-size: 25px;
}

.vendor-content .vendor-list {
    display       : flex;
    align-items   : flex-start;
    flex-direction: column;
    width         : 100%;
    gap           : 2px;

}

.vendor-content .vendor-list span {
    font-size  : 11px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.vendor-body {
    width           : 100%;
    background-color: #ffffff;
    box-shadow      : 1px 1px 4px 0px rgba(0, 0, 0, 0.25), 1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;
    overflow        : hidden;
}

.vendor-body .table-content {
    height: 50vh;
}

.vendor-body1 {
    width        : 100%;
    height       : auto;
    overflow     : hidden;
    margin-top   : 25px;
    border-radius: 10px;
    color        : #350d73;
}

.vendor-head {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    font-size      : 15px;
}

.customer {
    text-align    : left;
    flex-direction: column;
}

.customer span {
    font-size      : 8px;
    text-decoration: none !important;
    pointer-events : none;
    cursor         : default;
}

.customer h4 {
    appearance         : none;
    -webkit-appearance : none;
    display            : flex;
    font-size          : 14px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0;
    margin-inline-end  : 0px;
    font-weight        : 600;
    text-decoration    : none !important;
    pointer-events     : none;
    cursor             : default;
}



.customer12 {
    flex-direction: column;
}

.customer12 span {
    font-size      : 8px;
    text-decoration: none !important;
    pointer-events : none;
    cursor         : default;
}

.customer12 h4 {
    appearance         : none;
    -webkit-appearance : none;
    display            : flex;
    font-size          : 14px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0;
    margin-inline-end  : 0px;
    font-weight        : 600;
    text-decoration    : none !important;
    pointer-events     : none;
    cursor             : default;
}

.Referralbar1 {
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: #350D73;
    border-radius   : 7px;
    padding-top     : 5px;
    padding-bottom  : 5px;
}

.ReferralBar {
    display        : flex;
    justify-content: center;
    align-items    : center;
    /* width       : 100%; */
    gap            : 3px;

}

.ReferralBar form {
    display         : flex;
    align-items     : center;
    justify-content : flex-end;
    margin-top      : 0;
    margin-block-end: 0;
    gap             : 10px;
}

.LinkBar {
    border-radius   : 7px;
    background-color: #fff;
    width           : 230px;
    overflow        : hidden;
    padding         : 2px;
}

.LinkBar input {
    outline: none;
    border : 0;
    color  : #360d73;
    width  : 100%;
}

.ReferralLink h4 {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : 500;
    color              : #fff;
    margin-right       : 5px;
    font-size          : 14px;
}

.copybtn {
    border          : none;
    padding-left    : 7px;
    padding-right   : 7px;
    padding-top     : 5px;
    padding-bottom  : 5px;
    background-color: #fff;
    border-radius   : 7px;
}

.copybtn ion-icon {
    font-size  : 15px;
    color      : #350D73;
    font-weight: 700;
}

.leaderBoard {
    width           : 95%;
    background-color: #f5f5f5;
    margin-top      : 60px;
    overflow        : hidden;
    padding         : 10px;
    box-shadow      : 1px 1px 4px 0px rgba(0, 0, 0, 0.25), 1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius   : 7px;
    color           : #350d73;
}

.leaderboard-header {
    padding-bottom: 20px;
}

.leaderboard-header h4 {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : bold;
    font-size          : 22px;
}

.leaderboard-header p {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-size          : 13px;
}

.leader-body {
    display        : inline-flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 10px;
}

.custom-p2 {
    display         : flex;
    align-items     : center;
    justify-content : flex-start;
    background-color: #350d73;
    width           : 86vw;
    padding         : 10px;
    border-radius   : 8px;
    box-shadow      : 1px 1px 4px 0px rgba(122, 110, 1, 0.25), 1px 1px 4px 0px rgba(207, 187, 2, 0.25) inset;
    color           : #f5f5f5;
    gap             : 10px;
}

.custom-content {
    display: block;
    gap    : 60px;
}

.custom-content h4 {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : bold;
    font-size          : 17px;
}

.custom-content p {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-size          : 15px;
}

.custom-image img {
    background   : #a800ebfd;
    border-radius: 50%;
    border       : 1px solid #fff;
    padding      : 3px;
    width        : 40px;
    object-fit   : cover;
    height       : 40px;
}

.cartpage {
    z-index         : 999999999999;
    display         : flex;
    justify-content : center;
    align-items     : center;
    position        : fixed;
    background-color: #300088;
    border-radius   : 9999px;
    padding         : 15px;
    color           : #f9f9f9;
    bottom          : 90px;
    right           : 20px;
    overflow        : hidden;

}

.carticon ion-icon {
    font-size: 25px;
}

.carticon span {
    position        : absolute;
    background-color: #fa2307;
    color           : #FFF;
    display         : inline-block;
    top             : 9px;
    right           : 9px;
    box-shadow      : none;
    border-radius   : 50% !important;
    padding         : 0.40em 0.4em;
    font-size       : 7px;
    font-weight     : 700;
    line-height     : 1;
    text-align      : center;
    white-space     : nowrap;
    vertical-align  : baseline;
}

/* Popup styles */
.popup {
    display         : none;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content : center;
    align-items     : center;
    z-index         : 99999;
    overflow        : hidden;

}

.popup-content {
    background-color: rgb(255, 255, 255);
    padding-right   : 20px;
    padding-left    : 10px;
    padding-top     : 20px;
    border-radius   : 5px;
    width           : 89%;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.3);
    overflow        : hidden;
    padding-bottom  : 25px;
}

/* Button styles */
.open-popup-button {
    padding         : 10px 20px;
    background-color: #007bff;
    color           : #fff;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
}

.pro-title {
    font-size    : 17px;
    color        : #350D73;
    font-weight  : 600;
    width        : 100%;
    margin-bottom: 15px;
    border-bottom: 1px #350D73 dashed;
}

.pro-content {
    height    : 72vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.pro-content h4 {
    color              : #350D73;
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : 500;
    margin-top         : 15px;
    font-size          : 16px;
    padding            : 5px;
    background-color   : #360d730a;
    width              : 100%;
}

.popup-content p {
    padding-top        : 10px;
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-size          : 10.5px;
    color              : #350d73;
}

.closebtn button {
    position     : absolute;
    right        : 3;
    top          : 10;
    margin-bottom: 20px;
    background   : transparent;
    border       : 0;
}

.closebtn button ion-icon {
    font-size: 25px;
    color    : #fa2307;
}

.popup-content span {
    color           : #350D73;
    font-weight     : 600;
    font-size       : 12px;
    padding         : 6px;
    background-color: #0bb9b118;
    border-radius   : 3px;
}

.pro-ref-link button {
    border          : 0;
    background-color: #350D73;
    padding         : 10px;
    border-radius   : 7px;
    color           : #f5f5f5;
    font-size       : 15px;
    margin-top      : 10px;
}

.resell-close button {
    position        : absolute;
    right           : 3;
    top             : 10;
    background-color: transparent;
    border          : 0;
}

.resell-close button ion-icon {
    font-size: 30px;
    color    : #fa2307;
}

.pro-btn {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
}

.jvpage {
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 50px 10px 50px;
    border-color    : #350D73;
    color           : #360d73;
    font-size       : 15px;
    border-radius   : 7px;
    background-color: transparent;
}

.jvpage {
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 50px 10px 50px;
    border-color    : #350D73;
    color           : #360d73;
    font-size       : 15px;
    border-radius   : 7px;
    background-color: transparent;
}
.jvpage a{
    text-decoration: none;
}

.pro-page {
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 30px 10px 30px;
    border-color    : #350D73;
    border          : none;
    color           : #fff;
    font-size       : 15px;
    border-radius   : 7px;
    background-color: #350D73;
}
.pro-page a{
    text-decoration: none;
    color: #fff;
}
.pro-sale {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    overflow       : hidden;
    margin-top     : 10px;
}

.pro-sale-card span {
    color           : #350D73;
    font-weight     : 400;
    font-size       : 13px;
    background-color: transparent;
    border-radius   : 3px;

}

.pro-sale-card {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.pro-sale-card h2 {
    display            : flex;
    font-size          : 13px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : 600;
    color              : #350D73;
}
.pro-sale-link{
    width: 100%;
    border-radius: 7px;
    background-color: #350D73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.pro-sale-link .LinkBar{
    width:100%;
    padding: 5px;
    font-size: 15px;
}
.pro-sale-link .copybtn{
    padding: 9px;
}
.pro-sale-link-23 span{
    color           : #350D73;
    font-weight     : 400;
    font-size       : 13px;
    background-color: transparent;
    border-radius   : 3px;
}
.seller-img-pro{
    border-radius: 7px;
    width: 83vw;
    padding: 10px;
    box-shadow: 2px 2px 4px 0px rgba(60, 0, 109, 0.25), 2px 2px 4px 0px rgba(31, 0, 80, 0.25) inset;
  
}
.seller-img-pro h4{
    color: #350D73;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
    background-color: transparent;
    width: 100%;
}
.seller-pro{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.seller-pro-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}
.seller-pro-content h2{
    display            : flex;
    font-size          : 17px;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : 600;
    color              : #350D73;
}
.seller-pro-content span{
    color: #350D73;
    font-weight: 400;
    font-size: 9px;
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
}
.seller-img img{
    border-radius: 50%;
    border: 2px solid #46026d;
    padding: 3px;
    width: 60px;
    object-fit: cover;
    height: 60px;
    box-shadow: 2px 2px 4px 0px rgba(60, 0, 109, 0.25), 2px 2px 4px 0px rgba(31, 0, 80, 0.25) inset;
}

.profile-frame{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 63px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px 0px rgba(60, 0, 109, 0.25), 2px 2px 4px 0px rgba(31, 0, 80, 0.25) inset;
    overflow: hidden;
 
}
.profile-frame .profile-heard {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-self     : center;
}
.profile-body{
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;

}
.profile-body form {
    width: 97%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 9px;
}
.pro-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    padding-left: 8px;
    border-bottom: 1px #360d7311 dashed;
   
}
.pro-form span{
    color: #350D73;
    font-size: 17px;
    font-weight: 500;
    width: 30%;
}
.pro-form input{
    text-align: right;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    color: #350D73;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 13px;
    border-radius: 7px;
    pointer-events: none;
}
button.pro-form-btn{
    appearance: none;
    -webkit-appearance: none;
    padding: 6px 20px 6px 20px;
    font-size: 17px;
    color: #fff;
    border: 0;
    background-color: rgba(255, 0, 0, 0.623);
    border-radius: 7px;

}
.pro-form-img{
    padding-top: 20px;
}
.pro-form-img img{
    background: #890196fd;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 3px;
    width: 80px;
    object-fit: cover;
    height: 80px;
    box-shadow: 2px 2px 4px 0px rgba(60, 0, 109, 0.568), 3px 3px 4px 0px rgba(42, 0, 109, 0.493) inset;
}
.profile-heard span{
    padding-top: 7px;
    font-size: 16px;
    color: #350D73;
    font-weight: 600;
}
.pro-pass-tittle{
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #350D73;
}
.pro-pass-tittle h4{
    font-size: 17px;
}
.pro-pass{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-pass label{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.pro-pass label span{
  color: #350D73;
  font-size: 15px;
  font-weight: 500;
}
.pro-pass label input{
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    color: #350D73;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 1px 1px 2px 0px rgba(81, 2, 146, 0.25) inset, 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.pro-pass label input::placeholder{
    color: #360d736c;
}
.pro-pass button.sub-pass{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px 60px 10px 60px;
    border-radius: 7px;
    font-size: 15px;
    margin-top: 20px;
    background-color: #350D73;
    color: #fff;
}
.pro-pass input:focus {
    outline: 0;
}

.pro-pass.success input {
    border-color: #09c372;
}

.pro-pass.error input:invalid {
    border-color: #ff3860;
    box-shadow: 0 07px #ff3860;
}

.pro-pass input[type="password"]:focus , .pro-pass input[type="passcode"]:focus {
    border-color: #350D73;
    box-shadow  : 0 0 7px #350D73;
}

.AdvertBanner img{
    width: 100%;
    object-fit: fill;
    height: 90px;
    border-radius: 10px;
   
}

.swiper{
   margin-top: 10px;
}
.swiper .swiper-wrapper{
    height: auto;
    padding: 10px;

}

.swiper-wrapper .swiper-slide{
    border-radius: 10px;
    margin-right: 30px;
    width: 95%;
    transition: none !important;
}
.swiper-pagination{
    background-color: red;
}