<%-include("../../../partials/header2")%>

<div class="cent1">
    <div class="vendor">
        <div class="vendor-card1">
            <div class="cardsvg1"></div>
            <div class="cardsvg3"></div>
            <div class="vendor-content">
                <ion-icon name="layers-outline"></ion-icon>
                <div class="vendor-list">
                    <span>Sales Balance: <strong>$1,000</strong></span>
                    <span>Paid-Out:  <strong>$1,000</strong></span>
                    <span>Number of Sales: 500</span>
                </div>
            </div>
        </div>
        <div class="vendor-card1">
            <div class="cardsvg1"></div>
            <div class="cardsvg2"></div>
            <div class="vendor-content">
                <ion-icon name="analytics-outline"></ion-icon>
                <div class="vendor-list">
                    <span>Digital: 100</span>
                    <span>Physical: 100</span>
                    <span>Total Product: 200</span>
                </div>
            </div>
        </div>
    </div>

    
    <div class="vendor-body1">
        <div class="vendor-head">
            <span>My product's List</span>
            <span>Swipe Left & Right</span>
        </div>
        <div class="vendor-body">
            <div class="table-content body">
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th class="nameaff" style="text-align: left;">Product</th>
                            <th>Price($)</th>
                            <th>Amt/Earn($)</th>
                            <th>Product Type</th>
                            <th>Sold</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.
                            </td>
                            <td ><strong>$67</strong></td>
                            <td><strong>$34.70</strong></td>
                            <td>Digital</td>
                            <td>259</td>
                            <td> <button class="prombtn prom" onclick=""
                                    style="background-color: #04fc1869; color: #0c007c;">
                                    <span>Approved</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="nameaff nameaff34">Facebook Ads Sales Generator Program
                            </td>
                            <td><strong>$67</strong></td>
                            <td><strong>$34.70</strong></td>
                            <td>Physical</td>
                            <td>0</td>
                            <td> <button class="prombtn prom" onclick=""
                                    style="background-color: #fc040469; color: #0c007c;">
                                    <span>Rejected</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.
                            </td>
                            <td><strong>$67</strong></td>
                            <td><strong>$34.70</strong></td>
                            <td>Digital</td>
                            <td>0</td>
                            <td> <button class="prombtn prom" onclick=""
                                    style="background-color: #fbff0069; color: #0c007c;">
                                    <span>Pending</span>
                                </button></td>
                        </tr>
                     


                    </tbody>
                </table>
            </div>
        </div>
    </div>

   
    <div class="vendor-body1">
        <div class="vendor-head">
            <span>Sales Transaction List</span>
            <span>Swipe Left & Right</span>
        </div>
        <div class="vendor-body">
            <div class="table-content body">
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th class="nameaff" style="text-align: left;">Product &amp; Vendor</th>
                            <th style="text-align: left;">Customer Info</th>
                            <th>Price($)</th>
                            <th>Amt/Earn($)</th>
                            <th>Product Type</th>
                            <th>Transaction id</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.
                            </td>
                            <td class="customer" style="text-align: left;">
                                <h4>itodogabriel40@gmail.com</h4>
                                <span>Alphatech Multimedia Technology</span>
                                <span>+2349129079450</span>
                            </td>
                            <td><strong>$67</strong></td>
                            <td><strong>$34.70</strong></td>
                            <td>Digital</td>
                            <td>7435097433648</td>
                            <td> <button class="prombtn prom" onclick=""
                                    style="background-color: #04fc1869; color: #0c007c;">
                                    <span>Completed</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.
                            </td>
                            <td class="customer" style="text-align: left;">
                                <h4>itodogabriel40@gmail.com</h4>
                                <span>Alphatech Multimedia Technology</span>
                                <span>+2349129079450</span>
                            </td>
                            <td><strong>$67</strong></td>
                            <td><strong>$34.70</strong></td>
                            <td>Digital</td>
                            <td>7435097433648</td>
                            <td> <button class="prombtn prom" onclick=""
                                    style="background-color: #fc040469; color: #0c007c;">
                                    <span>Pending</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.
                            </td>
                            <td class="customer" style="text-align: left;">
                                <h4>itodogabriel40@gmail.com</h4>
                                <span>Alphatech Multimedia Technology</span>
                                <span style="text-transform: lowercase;">2ND FLOOR, BLK 84, PLOT 8, PROVIDENCE STREET, LEKKI LAGOS.</span>
                                <span>+2349129079450</span>
                            </td>
                            <td><strong>$67</strong></td>
                            <td><strong>$34.70</strong></td>
                            <td>Physical</td>
                            <td>7435097433648</td>
                            <td> <button class="prombtn prom" onclick=""
                                    style="background-color: #04fc1869; color: #0c007c;">
                                    <span>Completed</span>
                                </button></td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>






</div>
<%-include("../../../partials/sidebar")%>
<%-include("../../../partials/footer")%>