<%-include("../../partials/header")%>

  <div class="cent">
    <section class="cards">
      <div class="AffiliateCard">
        <div class="Frame12576">
          <div class="f2670">
            <span class="pht1">Direct Affiliate: ₦150,000 </span>
            <span class="pht1">Indirect Affiliate: ₦50,000 </span>
          </div>
          <div class="f49">
            <hr>
          </div>
        </div>

        <div class="Frame12577">
          <div class="Afb">Affiliate Balance </div>
          <div class="Afb">₦ 200,000</div>
        </div>
      </div>
  </div>
  </section>

  <div class="cent">
    <section class="QuickAction">
      <div class="title-qa">Quick Action</div>
      <div class="Quicklist">
        <div class="taskt">
          <div class="Task">
            <a href="/user/task">
              <div class="Group12563">
                <div class="Ellipse645">
                  <img class="Bookmark" src="/image/Bookmark.svg" />
                </div>
              </div>
            </a>
          </div>
          <div class="DailyTask">Daily Task</div>
        </div>

        <div class="taskt">
          <div class="Task">
            <a href="/user/vtu">
              <div class="Group12563">
                <div class="Ellipse645">
                  <img class="Bookmark" src="/image/Calling.svg" />
                </div>
              </div>
            </a>
          </div>
          <div class="DailyTask">VTU</div>
        </div>

        <div class="taskt">
          <div class="Task">
            <a href="/user/Upgrade">
              <div class="Group12563">
                <div class="Ellipse645">
                  <img class="Bookmark" src="/image/upgrase.svg" />
                </div>
              </div>
            </a>
          </div>
          <div class="DailyTask">Upgrade</div>
        </div>
      </div>
  </div>
  </section>

  <div class="cent1">
    <section class="Referralbar1">
    <div class="ReferralBar">
      <div class="ReferralLink">
        <h4>Referral Link:</h4>
      </div>

      <form>
        <div class="LinkBar">
            <input type="text" class="link form-control" id="copyInput" placeholder="https://127.0.192.0:3000=!?297675" value="https://127.0.192.0:3000=!?297675" readonly disabled>
        </div>
        <button type="button" class="copybtn" id="copyButton"><ion-icon name="copy-outline"></ion-icon></button>
    </form>

    <script>
       
    </script>
    </div>
  </section>
  </div>



  <section class="SummaryBar" style="margin-top: 3px;">
    <div class="ReferralNumbers">
      <img class="Rectangle4" src="/image/Rectangle 4.svg" />
      <div class="Frame12560">
        <div class="tot">Total Referral</div>
        <div class="tot">200</div>
      </div>
    </div>
    <div class="Payout">
      <img class="Rectangle4" src="/image/vector p.svg" />
      <div class="Frame12560">
        <div class="tot">Total Cashout</div>
        <div class="tot">₦20,000</div>
      </div>
    </div>
  </section>

  <section class="ads">
    <div class="AdsCards">
      <div class="AdvertBanner">Advert Banner</div>
    </div>
  </section>

  <div class="cent">
    <section class="RecentActivities">
      <div class="Viewmore">
        <div class="RecentActivities1">Recent Activities</div>
        <div class="RecentActivities1"><a href="#viewmore" style="text-decoration: none;">View More</a></div>
      </div>
      <div class="ListFrame1">
        <div class="Listly">
          <img class="vpd" src="/image/Arrow - Down Square.svg" />
          <div class="Frame1256684">
            <div class="WelcomeBonus1">Welcome Bonus </div>
            <div class="timelist">9th July 2023 | 3:30pm</div>
          </div>

          <div class="Frame1256684">
            <div class="WelcomeBonus">₦500</div>
            <div class="timelist" style="color: #00D293; font-size: 12px; font-family: DM Sans; font-weight: 500">
              Successful</div>
          </div>

        </div>
        <div class="Listly">
          <img class="vpd" src="/image/Arrow - Down Square (1).svg" />
          <div class="Frame1256684">
            <div class="WelcomeBonus1">Transfer to bank</div>
            <div class="timelist">9th July 2023 | 3:30pm</div>
          </div>

          <div class="Frame1256684">
            <div class="WelcomeBonus">₦500</div>
            <div class="timelist" style="color: #00D293; font-size: 12px; font-family: DM Sans; font-weight: 500; ">
              Successful</div>
          </div>

        </div>
        <div class="Listly">
          <img class="vpd" src="/image/Arrow - Down Square.svg" />
          <div class="Frame1256684">
            <div class="WelcomeBonus1">Sponsord Post</div>
            <div class="timelist">9th July 2023 | 3:30pm</div>
          </div>

          <div class="Frame1256684">
            <div class="WelcomeBonus">₦500 </div>
            <div class="timelist" style="color: #00D293; font-size: 12px; font-family: DM Sans; font-weight: 500">
              Successful</div>
          </div>

        </div>
        <div class="Listly">
          <img class="vpd" src="/image/Arrow - Down Square.svg" />
          <div class="Frame1256684">
            <div class="WelcomeBonus1">Direct Referral Bonus</div>
            <div class="timelist">9th July 2023 | 3:30pm</div>
          </div>

          <div class="Frame1256684">
            <div class="WelcomeBonus">₦500</div>
            <div class="timelist" style="color: #00D293; font-size: 12px; font-family: DM Sans; font-weight: 500">
              Successful</div>
          </div>

        </div>
        <div class="Listly">
          <img class="vpd" src="/image/Arrow - Down Square.svg" />
          <div class="Frame1256684">
            <div class="WelcomeBonus1">Indirect Referral Bonus</div>
            <div class="timelist">9th July 2023 | 3:30pm</div>
          </div>

          <div class="Frame1256684">
            <div class="WelcomeBonus">₦500 </div>
            <div class="timelist" style="color: #00D293; font-size: 12px; font-family: DM Sans; font-weight: 500">
              Successful</div>
          </div>

        </div>
        <div class="Listly">
          <img class="vpd" src="/image/Arrow - Down Square.svg" />
          <div class="Frame1256684">
            <div class="WelcomeBonus1">Sponsord Ads</div>
            <div class="timelist">9th July 2023 | 3:30pm</div>
          </div>

          <div class="Frame1256684">
            <div class="WelcomeBonus">₦500</div>
            <div class="timelist" style="color: #00D293; font-size: 12px; font-family: DM Sans; font-weight: 500">
              Successful</div>
          </div>

        </div>
        <div class="Listly">
          <img class="vpd" src="/image/Arrow - Down Square.svg" />
          <div class="Frame1256684">
            <div class="WelcomeBonus1">Airtim to 09129079450</div>
            <div class="timelist">9th July 2023 | 3:30pm</div>
          </div>

          <div class="Frame1256684">
            <div class="WelcomeBonus">₦500</div>
            <div class="timelist" style="color: #00D293; font-size: 12px; font-family: DM Sans; font-weight: 500">
              Successful</div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <%-include("../../partials/sidebar")%>
  <%-include("../../partials/footer")%>