<%-include("../partials/header")%>
<div class="contact-us">
    <div class="contact-cent">
        <div class="contact-head">
            <h1><%=title%></h1>
        </div>
        <div class="sub-head">
            <p>Need support? Have a question? Running into a problem? We’re here to help.</p>
        </div>
    </div>
</div>
   
<div class="contact body">
    <div class="contact-content">
        <div class="contact card">
            
        </div>
    </div>
</div>


<%-include("../partials/footer")%>