<%-include("../partials/header")%>
<div class="contact-us">
    <div class="contact-cent">
        <div class="contact-head">
            <h1>
                <%=title%>
            </h1>
        </div>
        <div class="sub-head">
            <p>Need support? Have a question? Running into a problem? We’re here to help.</p>
        </div>
    </div>
</div>

<div class="contact-body">
    <div class="contact-content bottom">
        <div class="contact-card">
            <ion-icon name="location-outline"></ion-icon>
            <h3>Office Address</h3>
            <p>5 Jadeshola Oshodi Street, Aguda Surulere Lagos Nigeria.</p>
        </div>
        <div class="contact-card">
            <ion-icon name="call-outline"></ion-icon>
            <h3>Customer Representative</h3>
            <p><a href="tell:+018888800">+018888800</a></p>
            <p><a href="#">+2348038903693</a></p>
        </div>
        <div class="contact-card">
            <ion-icon name="mail-outline"></ion-icon>
            <h3>Email Address</h3>
            <p><a href="mailto:help@fundmax.com">help@fundmax.com</a></p>
            <p><a href="mailto:loan@fundmax.com">loan@fundmax.com</a></p>
        </div>
    </div>
</div>
<div class="contact-soc-bdy">
<div class="contact-social">
    <h2>Follow us on social media</h2>
    <p>Stay updated with the latest on all things fundmax</p>
    <div class="contact-soc-icon">
        <a href=""><img src="/image/social-icon/facebook.svg" alt=""></a>
        <a href=""><img src="/image/social-icon/linkedin.svg" alt=""></a>
        <a href=""><img src="/image/social-icon/instagram.svg" alt=""></a>
        <a href=""><img src="/image/social-icon/twitter.svg" alt=""></a>
        <a href=""><img src="/image/social-icon/youtube.svg" alt=""></a>
        <a href=""><img src="/image/social-icon/gmail.svg" alt=""></a>
    </div>
</div>
</div>

<%-include("../partials/footer")%>