<%-include("../partials/header")%>
  <!--Hero Section-->
  <section class="hero hero-mobile" style="height: 78vh;">
    <div class="hero-container">
        <div class="hero-body">
            <div class="hero-content">
                <h1 class="main-title">Supporting You To Achieve Your Goals Faster</h1>
                <div class="percent left">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <p>SafeLock</p>
                </div>
                <p class="bottom">Secure your savings with a locked-in period, curbing impulse spending, and earning a substantial upfront annual interest rate of 20%.
                </p>
             
                <div class="download left" style="margin-bottom: 10px;">
                    <ul>
                        <li><a href="/"><img src="/image/google-play-icon.svg" alt=""></a></li>
                        <li><a href="/"><img src="/image/app-store-icon.svg" alt=""></a></li>
                    </ul>
                </div>
           
            </div>
            <div class="hero-image  dash">
                <img class="hero-img" src="/image/FundLock90.png" alt="" width="70%">
            </div>
        </div>

    </div>
</section>




    <section class="savings-card">
        <div class="savings-head">
            <h1 class="head-title">Maintain self-control and resist allure.</h1>
            <p class="right">Lock funds to avoid temptations. Earn your interest upfront and paid instantly.</p>
        </div>
        <div class="saving-body">
            <div class="saving-cd">
                <h1 class="head-title">You’re in control</h1>
                <p class="right">You can choose a lock duration ranging from just 10 days to a generous 1000 days, offering flexibility to suit your specific needs and preferences.</p>
                <div class="saving-cd-img">
                    <img class="bottom" src="/image/Fixed.png" alt="">
                </div>
            </div>
            <div class="saving-cd">
                <h1 class="head-title">Manage your money</h1>
                <p class="right">Lock up funds for a predetermined duration with no ability to withdraw them until the agreed-upon maturity date.</p>
                <div class="saving-cd-img">
                    <img class="bottom" src="/image/FundLock23.png" alt="">
                </div>
            </div>
            <div class="saving-cd">
                <h1 class="head-title">Earn interest upfront</h1>
                <p class="right">Achieve an attractive upfront annual interest rate of 12.5%..</p>
                <div class="saving-cd-img">
                    <img class="bottom" src="/image/Create.png" alt="">
                </div>
            </div>

        </div>
    </section>


    <section class="saveflex">
        <div class="flex-container">
            <div class="flex-content">
                <h2 class="head-title">Avoid temptations & lock your money.</h2>
                <p class="left">Fundlock allows you to set money aside for a fixed period of time without having access to it until maturity. It’s like having your own custom fixed deposit.</p>
            </div>
            <div class="flex-image" style="height: 100%;">
                <img src="/image/codelock2.jpeg" alt=""  style="object-fit: cover; width: 100%; height: 100%;">
            </div>
        </div>
    </section>



    <%-include("../partials/footer")%>