<%-include("../partials/header")%>

    <!--Hero Section-->
    <section class="hero" style="margin-top: 60px;">
        <div class="hero-container">
            <div class="hero-body">
                <div class="hero-content">
                   
                    <h1 class="main-title">Grow your savings with Fundmax</h1>
                    <p class="bottom">Save smart and earn more with a fundmax savings plan. We offer up to 10% p.a interest on your savings.
                    </p>
                    <div class="download left">
                        <ul>
                            <li><a href="/"><img src="/image/google-play-icon.svg" alt=""></a></li>
                            <li><a href="/"><img src="/image/app-store-icon.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="verify left">
                        <div class="verify-cbn">
                            <img src="/image/6454ea3e1748c98b28455ea2_CBN logo.webp" alt="" style="width: 30px; padding-bottom: 15px;
                        ">
                            <h4>CBN Licensed</h4>
                        </div>
                        <div class="verify-ndc">
                            <img src="/image/NDIC logo.webp" alt="" style="width: 50px;
                        mix-blend-mode: screen;">
                            <h4>NDIC Licensed</h4>
                        </div>
                        <div class="verify-ndc">
                            <img src="/image/SEC-NIGERIA-badge.png" alt="" style="width: 30px;
                        mix-blend-mode: screen;">
                            <h4>SEC Licensed</h4>
                        </div>
                    </div>
                </div>
                <div class="hero-image  dash">
                    <img class="hero-img" src="/image/hero/Dashboard2.png" alt="" width="70%">
                </div>
            </div>

        </div>
    </section>

 <!--Why choose us-->
    <section class="savings-card">
        <div class="savings-head">
            <h1 class="head-title">Save without thinking about it.</h1>
            <p class="right">Enjoy automated savings, quick manual savings top up and competitive interest rates.</p>
        </div>
        <div class="saving-body">
            <div class="saving-cd">
                <h1 class="head-title">Save automatically</h1>
                <p class="right">Choose between automatic daily, weekly or monthly savings. Once you choose, our system does the rest
                    for you. You’re in control, and can always change your settings anytime.</p>
                <div class="saving-cd-img">
                    <img class="bottom" src="/image/Saving Dashboard 2.png" alt="">
                </div>
            </div>
            <div class="saving-cd">
                <h1 class="head-title">Save on the go</h1>
                <p class="right">Don’t fancy automatic savings? No problem, you can manually top up your fundmax maxbank savings at
                    anytime, anywhere.</p>
                <div class="saving-cd-img">
                    <img class="bottom" src="/image/Quick Save.png" alt="">
                </div>
            </div>
            <div class="saving-cd">
                <h1 class="head-title">Build discipline</h1>
                <p class="right">With four free withdrawal days in the year, you are less tempted to spend your savings and meet your
                    savings goals faster.</p>
                <div class="saving-cd-img">
                    <img class="bottom" src="/image/withdrawal.png" alt="">
                </div>
            </div>
        </div>
    </section>


   
    <section class="save">
        <div class="save-container">
            <div class="save-body">
                <div class="save-content">
                    <h3 class="head-title">Save for the things that matter </h3>
                    <p class="left">
                        Whatever your saving habits or goals, we have a plan that's perfect for you. Our commitment to
                        your financial well-being means we offer tailored solutions for your unique circumstances.
                        Whether you're saving for a vacation, a new home, retirement, or building an emergency fund, our
                        range of plans and expert advisors will help you create a customized strategy. Your financial
                        success is our top priority, and we're here to support you every step of the way.</p>
                </div>
                <div class="save-image" >
                    <img class="right" src="/image/banner8.jpeg" alt="" >
                </div>
            </div>
        </div>
    </section>
    <!--Our Services-->


    <section class="flexsave" >
        <div class="flex-container">
            <div class="flex-body">
                <div class="flex-content">
                    <h3 class="head-title">
                        FlexSave</h3>
                    <p class="left">
                        Got some spare cash? No matter how small the amount, it's never too late to begin saving. Start
                        right here and keep adding to your savings as you go along. With us, you can potentially earn an
                        attractive interest rate of up to 9%. Your path to financial growth begins today – seize the
                        opportunity to make the most of your money!</p>
                </div>
                <div class="flex-cont">
                    <div class="fun"></div>
                    <div class="fun1"></div>
                    <img class="right" src="/image/Saving Dashboard.png" alt="">
                </div>
            </div>
        </div>
    </section>



    <section class="save">
        <div class="save-container">
            <div class="save-body" style="gap: 50px;">
                <div class="save-image" >
                    <img class="left" src="/image/bill.jpeg" alt="" >
                </div>
                <div class="save-content">
                    <h3 class="head-title">
                        Fundmax Easy Payment</h3>
                        <p class="right">
                            Top up phone airtime or internet data. Pay electricity bills; renew TV subscriptions. Buy
                            quality insurance covers, pay education bills, transfer funds and do more</p>
                            <div class="fundpay bottom">
                                <div class="fundpay-cont">
                                    <ion-icon name="checkmark-outline"></ion-icon>
                                    <p>Airtime/Data Payment</p>
                                </div>
                                <div class="fundpay-cont">
                                    <ion-icon name="checkmark-outline"></ion-icon>
                                    <p>Electricity Payment</p>
                                </div>
                                <div class="fundpay-cont">
                                    <ion-icon name="checkmark-outline"></ion-icon>
                                    <p>Other Bills Payment</p>
                                </div>
                            </div>
                            <div class="download left">
                                <ul>
                                    <li><a href="/"><img src="/image/google-play-icon.svg" alt=""></a></li>
                                    <li><a href="/"><img src="/image/app-store-icon.svg" alt=""></a></li>
                                </ul>
                            </div>
                </div>
            </div>
        </div>
    </section>


   

    <section class="saveflex">
        <div class="flex-container">
            <div class="flex-content">
                <h2 class="head-title">Build your savings small small!</h2>
                <p class="left">With fundmax, you can save periodically, automatically or manually. You can also save as you go, on
                    your own terms. You’re the boss of your savings, choose how you want to save.</p>
            </div>
            <div class="flex-image">
                <img src="/image/save.png" alt="">
            </div>
        </div>
    </section>


    <%-include("../partials/footer")%>