<%-include("../partials/header")%>

<section class="loan">
    <div class="loan-mask right"></div>
    <div class="loan-container">
        <div class="loan-body">
            <h1 class="left">Instant loans whenever you need it</h1>
            <p class="right">We’ve made loans easily accessible to you to help you reach your goals and stay in control. Unlock higher loan amounts by repaying early and carrying out other transactions on the app.</p>
            <div class="store-icon bottom">
                <a href="/" class="download-btn"><img src="/image/google-icon.svg" alt="" width="21" height="21"><span>Get on Android</span></a>
                <a href="/" class="download-btn"><img src="/image/apple-icon-white.svg" alt="" style="padding-bottom: 5px;"><span>Get on iPhone</span></a>
            </div>
        </div>
        <div class="loan-image">
            <img class="img bottom" src="/image/Loan.png" alt="" width="23%">
        </div>
    </div>
</section>

<section class="loan-features">
    <div class="features-container">
        <div class="feature-title">Our Features</div>
        <div class="features-body">
            <div class="features-card left" style="--feature-card: #f0c6522c;">
                <ion-icon name="star"></ion-icon>
                <p>Access personal loans of <strong>up to ₦500,000</strong></p>
            </div>
            <div class="features-card right" style="--feature-card: #29f7dc23;">
                <ion-icon name="star"></ion-icon>
                <p>Unlock additional funds to help you achieve your goals while managing an existing loan with our convenient loan top-up options.</p>
            </div>
            <div class="features-card left" style="--feature-card: #8bf71023;">
                <ion-icon name="star"></ion-icon>
                <p>Request an extension for a loan to facilitate more convenient repayment.</p>
            </div>
            <div class="features-card right" style="--feature-card: #0525b621;">
                <ion-icon name="star"></ion-icon>
                <p>Competitive interest rates</p>
            </div>
        </div>
    </div>
</section>

<section class="loan-wy">
    <div class="wy-contain">
        <div class="wy-title left">Why Choose Us?</div>
        <div class="wy-body bottom">
            <div class="wy-card">
                <div class="wy-svg">
                    <img src="/image/roll.webp" alt="">
                </div>
                <div class="wy-card-body">
                    <h2>Quick and simple </h2>
                    <p>Request a loan and get it in minutes.</p>
                </div>
            </div>
            <div class="wy-card ">
                <div class="wy-svg">
                    <img src="/image/Eyes.webp" alt="">
                </div>
                <div class="wy-card-body">
                    <h2>No hidden fees ever</h2>
                    <p>We provide you with a transparent breakdown of your loan, so you can trust in our honesty and clarity.</p>
                </div>
               
            </div>
            <div class="wy-card">
                <div class="wy-svg">
                    <img src="/image/phone-wy.webp" alt="">
                </div>
                <div class="wy-card-body">
                    <h2>Do it all in one app</h2>
                <p>Easily access your loan offers, history, and balance from a single location, and effortlessly request new loans.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>


    <%-include("../partials/footer")%>