<%-include("../../partials/header2")%>

<section class="card">
<div class="cent1256" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

    <div class="Atmcard">
     <div class="info">
        <div class="BankOfNigeria">Jetpay International Bank</div>
        <div class="groupchip">
            <div class="chip">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M37.399 35.5793H2.59322C1.16381 35.5793 0 34.4154 0 32.9782V7.01455C0 5.58514 1.16381 4.42133 2.59322 4.42133H37.3911C38.8283 4.42133 39.9921 5.58514 39.9921 7.01455V32.9782C39.9922 34.4154 38.8284 35.5793 37.399 35.5793Z" fill="#FFC738"/>
                <path d="M37.3993 4.42133H19.9964V35.5793H37.3992C38.8364 35.5793 39.9924 34.4155 39.9924 32.9861V7.01461C39.9925 5.5852 38.8287 4.42133 37.3993 4.42133Z" fill="#FFB42E"/>
                <path d="M39.9922 20.5354V19.4653H26.0183V14.7397L29.627 11.131H39.9922C39.9922 10.7639 39.9531 10.4046 39.8907 10.0609H29.4005C29.2599 10.0609 29.1193 10.1234 29.0256 10.225L25.2607 13.9821H20.5351V4.42133H19.465V13.9741H14.794L11.0369 10.217C10.9354 10.1155 10.7948 10.053 10.6542 10.053H0.109324C0.0468252 10.4045 0.0078042 10.7638 0.0078042 11.1231H10.4355L13.9738 14.6615V19.4496H0V20.5197H13.9738V25.3078L10.4355 28.8696H0.0078042C0.0078042 29.2367 0.0468908 29.596 0.109324 29.9397H10.662C10.8026 29.9397 10.9432 29.8772 11.0447 29.7757L14.8018 26.0186H19.4728V35.5714H20.5429V26.0187H25.2685L29.0334 29.7758C29.1271 29.8773 29.2677 29.9398 29.4083 29.9398H39.8985C39.961 29.5883 40 29.229 40 28.8697H29.6192L26.0105 25.261V20.5354H39.9922ZM24.9483 24.9486H15.0439V15.0443H24.9405V24.9486H24.9483Z" fill="#C66D4E"/>
                <path d="M39.9925 20.5354V19.4653H26.0186V14.7397L29.6273 11.131H39.9925C39.9925 10.7639 39.9534 10.4046 39.8909 10.0609H29.4008C29.2602 10.0609 29.1196 10.1234 29.0258 10.225L25.2609 13.9821H20.5353V4.42133H19.9964V15.0442H24.9486V24.9485H19.9964V35.5715H20.5353V26.0187H25.2609L29.0258 29.7758C29.1196 29.8773 29.2602 29.9398 29.4008 29.9398H39.8909C39.9534 29.5883 39.9925 29.2368 39.9925 28.8697H29.6195L26.0108 25.261V20.5354H39.9925Z" fill="#AF5A35"/>
              </svg>
            </div>

            <div class="contactless" style="    padding-right: 10;">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
  <g clip-path="url(#clip0_269_18)">
    <path d="M14.8219 23.4335C14.5244 23.1631 14.5244 22.7246 14.8219 22.4542C21.2731 16.5895 21.2731 7.04684 14.8219 1.18212C14.5244 0.911685 14.5244 0.473258 14.8219 0.202825C15.1193 -0.0676083 15.6016 -0.0676083 15.8991 0.202825C17.6237 1.77067 18.9592 3.59907 19.8683 5.6372C20.7463 7.60544 21.1915 9.68502 21.1915 11.8182C21.1915 13.9513 20.7463 16.0309 19.8683 17.9992C18.9592 20.0373 17.6237 21.8657 15.8991 23.4336C15.6017 23.7039 15.1193 23.7039 14.8219 23.4335Z" fill="white"/>
    <path d="M11.5587 20.4667C11.2612 20.1963 11.2612 19.7579 11.5587 19.4874C16.2103 15.2586 16.2103 8.37782 11.5587 4.14904C11.2612 3.8786 11.2612 3.44018 11.5587 3.16974C11.8562 2.89931 12.3384 2.89931 12.6359 3.16974C15.177 5.47983 16.5764 8.55126 16.5765 11.8183C16.5765 15.0852 15.177 18.1567 12.6359 20.4668C12.3384 20.7371 11.8562 20.7371 11.5587 20.4667Z" fill="white"/>
    <path d="M8.29501 17.5C7.99753 17.2296 7.99753 16.7911 8.29501 16.5207C11.1472 13.9278 11.1472 9.70891 8.29501 7.11602C7.99753 6.84558 7.99753 6.40716 8.29501 6.13672C8.59248 5.86629 9.07475 5.86629 9.37223 6.13672C12.8184 9.2696 12.8184 14.3671 9.37223 17.5C9.0748 17.7704 8.59248 17.7704 8.29501 17.5Z" fill="white"/>
    <path d="M5.0314 14.5328C4.73392 14.2624 4.73392 13.8239 5.0314 13.5535C6.08404 12.5965 6.08404 11.0395 5.0314 10.0825C4.73392 9.81208 4.73392 9.37365 5.0314 9.10322C5.32887 8.83278 5.81114 8.83278 6.10862 9.10322C7.75525 10.6002 7.75525 13.0359 6.10862 14.5328C5.81119 14.8032 5.32887 14.8032 5.0314 14.5328Z" fill="white"/>
  </g>
  <defs>
    <clipPath id="clip0_269_18">
      <rect width="26" height="23.6364" fill="white"/>
    </clipPath>
  </defs>
</svg>
            </div>
        </div>

<h2 class="cardnumb">53952  5673  0018  8541</h2>
<span class="cardnumbersub">Valid: 12/2023</span>

<div class="name_logo">
    <h3 class="cardname">ALPHATECH MULTIMEDIA TECHNOLOGY</h3>
    <div class="logo">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="26" viewBox="0 0 40 26" fill="none">
                <circle cx="12.766" cy="12.766" r="12.766" fill="#CD0000"/>
                <circle cx="27.234" cy="12.766" r="12.766" fill="#FFC320" fill-opacity="0.8"/>
              </svg>
        </div>
        <span class="logoname">Master Card</span>
    </div>
</div>
     </div>
</div>
</section>

<section class="drawalpage">
  <div class="page34">
      <h4>Request For Withdrawal</h4>
      <select class="select-field2">
          <option selected>Select Account to Debit</option>
          <option value="bal">Act.Bal ₦5,000</option>
          <option value="bal">Aff.Bal ₦5,000</option>
          <option value="bal">Job.Bal ₦5,000</option>
      </select>
      <div class="Inputvtu" style="width: 350px">
          <span class="inputsub" style="width: 15%; padding-left: 17px;">Amount: </span>
          <input type="number" id="amount" placeholder="₦ 1,000">
      </div>
      <!-- <div class="numbbal">
          <span>Act.Bal ₦5,000</span>
          <span>Act.Bal ₦5,000</span>
          <span>Act.Bal ₦5,000</span>
      </div> -->
      <div class="inputpin">
      <input type="number" placeholder="Enter your transaction pin">
    </div>
      <button class="submit" id="showPopupButton">Proceed</button>
  </div>
</section>

<section class="withhistroy">
  <div class="hist">
    <div class="Listly765">
      <img class="vpd" src="/image/Arrow - Down Square (1).svg">
      <div class="Frame1256684">
        <div class="WelcomeBonus1">Withdraw to bank</div>
        <div class="timelist">9th July 2023 | 3:30pm</div>
      </div>

      <div class="Frame1256684">
        <div class="WelcomeBonus">₦60,000
        </div>
        <div class="timelist" style="color: #00D293; font-size: 12px; font-family: DM Sans; font-weight: 500">
          Successful</div>
      </div>
    </div>
   
  </div>
</section>

</div>

<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>