<%-include("../../partials/header2")%>
<div class="cent1">
    
<div class="profile-frame">
    <div class="profile-heard">
        <form action="" method="get" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
            <div class="pro-form-img">
                <img src="/image/Avater.png" alt="Avater">
            </div>
            <span>User ID: 759523</span>
          
        </form>
    </div>
    <div class="profile-body">
        <form action="basic" method="get">
            <div class="pro-form">
                <span>Full Name:</span>
                <input type="text" name="name" id="name" value="Alphatech Multimedia Technology" readonly>
            </div>

            <div class="pro-form">
                <span style="width: 50%;">Mobile Number:</span>
                <input type="text" name="phone" id="phone" value="+2349129079450" readonly>
            </div>

            <div class="pro-form">
                <span>Gender:</span>
                <input type="text" name="gen" id="gen" value="Male" readonly>
            </div>

            <div class="pro-form">
                <span style="width: 50%;">Date of birth:</span>
                <input type="name" name="dob" id="dob" value="15-04-1993" readonly>
            </div>

            <div class="pro-form">
                <span>Email:</span>
                <input type="text" name="email" id="email" value="alphatechmultimedia@gmail.com" readonly>
            </div>
            
            <div class="pro-form">
                <span>Address:</span>
                <input type="text" name="email" id="email" value="Alexander House, Otunba Jobi Fele Way, Ikeja, Lagos, Nigeria." readonly>
            </div>

          
            <div class="pro-form" style="justify-content: end; padding-right: 13px; margin-top: 20px; border-bottom: none;">
                <button class="pro-form-btn" id="edit">Edit</button>
            </div>

        </form>
    </div>
</div>

  
</div>
<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>