<%-include("../../partials/header2")%>
<div class="cent1">
    <div class="JobsCardViews">
        <div class="JbCard">
            <div class="Card1Svg">
                <div class="SvgVctotor"></div>
                <div class="SvgVector2"></div>
            </div>
            <div class="NmbList">
                <div class="NmbTop">
                    <div class="JobApproved20">Job Appvd : 20</div>
                    <div class="JobApproved20">Job Decld  : 20</div>
                </div>
                <div class="huo"></div>
            </div>
            <div class="Frame12577a">
                <div class="Afb1">Internal Bal</div>
                <div class="Afb1">₦50,000</div>
            </div>
        </div>

        <div class="JbCard">
            <div class="Card2Svg2">
                <div class="Svg1"></div>
                <div class="Svg2"></div>
                <div class="Svg3"></div>
            </div>
            <div class="NmbList">
                <div class="NmbTop">
                    <div class="JobApproved20">Job Hired:20</div>
                    <div class="JobApproved20">App.Rejected:20</div>
                </div>
                <div class="huo"></div>
            </div>
            <div class="Frame12577a">
                <div class="Afb1">External Bal</div>
                <div class="Afb1">₦50,000</div>
            </div>
        </div>
    </div>

    <div class="JobsList">
        <div class="VtuTab2">
            <div class="buydata2 active" data-tab="internal">Internal Jobs</div>
            <div class="buydata2" data-tab="external">External Jobs</div>
          </div>

        <div class="ItermsLists active" id="internal">
            <div class="JobsItems">
                <div class="JobName" >
                    <img class="JobNameicon" src="/image/download (1) 6.png" />
                    <div class="JobsTitle">
                        <div class="SocialFeedsServices">Social Feeds Services</div>
                        <div class="NetflixInc">Netflix Inc.</div>
                        <div class="PromotedBy">Promoted by Alphatech</div>
                    </div>
                </div>
                <div class="Gpt">
                    <div class="gtpprice">₦500</div>
                    <button class="JbBottom">Start Now</button>
            </div>
        </div>
        <div class="JobsItems">
            <div class="JobName" >
                <img class="JobNameicon" src="/image/download (1) 7.png" />
                <div class="JobsTitle">
                    <div class="SocialFeedsServices">Video Content</div>
                    <div class="NetflixInc">SLOT Systems Limited.</div>
                    <div class="PromotedBy">Promoted by Alphatech</div>
                </div>
            </div>
            <div class="Gpt">
                <div class="gtpprice">₦1,000</div>
                <button class="JbBottom">Start Now</button>
        </div>
    </div>
    <div class="JobsItems">
        <div class="JobName" >
            <img class="JobNameicon" src="/image/download (1) 8.png" />
            <div class="JobsTitle">
                <div class="SocialFeedsServices">Instagram Post Feeds</div>
                <div class="NetflixInc">Alphatech Multimedia Technology.</div>
                <div class="PromotedBy">Promoted by Alphatech</div>
            </div>
        </div>
        <div class="Gpt">
            <div class="gtpprice">₦5,000</div>
            <button class="JbBottom">Start Now</button>
    </div>
</div>
<div class="JobsItems">
    <div class="JobName" >
        <img class="JobNameicon" src="/image/download (1) 6.png" />
        <div class="JobsTitle">
            <div class="SocialFeedsServices">Social Feeds Services</div>
            <div class="NetflixInc">Netflix Inc.</div>
            <div class="PromotedBy">Promoted by Alphatech</div>
        </div>
    </div>
    <div class="Gpt">
        <div class="gtpprice">₦500</div>
        <button class="JbBottom">Start Now</button>
</div>
</div>
    </div>


    
    <div class="ItermsLists" id="external">
    <div class="JobsItems">
        <div class="JobName" >
            <img class="JobNameicon" src="/image/download (1) 7.png" />
            <div class="JobsTitle">
                <div class="SocialFeedsServices">Video Content</div>
                <div class="NetflixInc">SLOT Systems Limited.</div>
                <div class="PromotedBy">Promoted by Alphatech</div>
            </div>
        </div>
        <div class="Gpt">
            <div class="gtpprice">₦1,000</div>
            <button class="JbBottom">Apply</button>
    </div>
</div>
</div>
</div>

<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>