<footer>
    <div class="container">
        <div class="row">
            <div class="col col-4">
                <div class="logo">
                    <img src="/image/logo/logo2.png" alt="logo">
                </div>
                <p>Fundmax has established itself as the foremost online savings and investment platform in Nigeria. Over the course of six years, our valued customers have diligently saved and invested substantial sums of Naira that might otherwise have been easily spent.</p>
            </div>
            <div class="col ">
                <h2>Company</h2>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h2>Legal</h2>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h2>Head Office Address</h2>
                <p style="margin-top: 30px;">
                    151 Herbert Macaulay Way, Yaba, Lagos,
                    Nigeria
                </p>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="copyright">
            ©2023 Fundmax is a financial service provided by Fundmax Technology Ltd (RC 1642222), licensed and regulated by the Central Bank of Nigeria (CBN). We empower individuals with credit, simple payments solutions, high-yield investment opportunities, and easy-to-use tools for personal financial management. We are a global company of over 90 employees with a presence in Nigeria.
        </div>
     </div>


     <script src="/home/js/main.js"></script>
     <script src="/home/js/animation.js"></script>
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</footer>
</body>

</html>