<footer>
    <div class="container">
        <div class="row">
            <div class="col col-4">
                <div class="logo">
                    <img src="/image/logo/logo2.png" alt="logo">
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit facere nulla minima commodi necessitatibus molestiae.</p>
            </div>
            <div class="col ">
                <h2>Company</h2>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h2>Legal</h2>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h2>Head Office Address</h2>
                <p style="margin-top: 30px;">
                    151 Herbert Macaulay Way, Yaba, Lagos,
                    Nigeria
                </p>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="copyright">
            ©2023 Fundmax is a financial service provided by Fundmax Technology Ltd (RC 1642222), licensed and regulated by the Central Bank of Nigeria (CBN). We empower individuals with credit, simple payments solutions, high-yield investment opportunities, and easy-to-use tools for personal financial management. We are a global company of over 90 employees with a presence in Nigeria.
        </div>
     </div>


     <script src="/home/js/main.js"></script>
</footer>
</body>

</html>