<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Fundmax Technology">

  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <!--Custom CSS-->
  <link rel="stylesheet"  href="/home/css/main.css">
  <link rel="stylesheet"  href="/home/css/responsive.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  
<!-- Favicons -->
<link rel="Favicons" href="">
  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="/home/bootstrap-5.0.2/css/bootstrap.css">
  <link rel="stylesheet" href="/home/bootstrap-5.0.2/css/bootstrap.min.css"> -->
  <script src="https://unpkg.com/scrollreveal"></script>

  <title><%= title %></title>
</head>

<body>
    <header>
   <div class="nav-container">
    <div class="nav-logo">
      <a href="/"><img src="/image/logo/logo2.png" alt="logo"></a>
    </div>
    <input type="checkbox" id="nav-check">
           <label for="nav-check" class="nav-toggler">
              <span></span>
           </label>
    <div class="nav-menu">
        <ul>
            <li><a href="/">Savings</a></li>
            <li><a href="/fundlock">FundLock</a></li>
            <li><a href="/loan">Loan</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </div>
   </div>
    </header>

 