@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --fundmax  : #0d60d8;
    --fundmax-2: #fff;
    --fundmax-3: #edf2f3;
    --fundmax-4: #505050;
    --fundmax-5: #00f7ff;
    --fundmax-img: linear-gradient(to left bottom, #006d50, #006b6e, #006690, #005ca8, #0049aa, #093da5, #172f9f, #241f98, #311c94, #3b1891, #42148d, #491089);

  
}

body {
    overflow-x: hidden;
    
}


* {
    padding        : 0;
    margin         : 0;
    border         : 0;
    box-sizing     : content-box;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}




header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
header .nav-container {
    background-color: var(--fundmax);
    padding         : 10px 30px 1px 30px;
    overflow        : hidden;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    border-bottom: #fff 0.70px solid;
}

header .nav-container .nav-logo img {
    width : 170px;
    height: 50%;
}


header .nav-container .nav-menu ul {
    font-size      : 14px;
    list-style     : none;
    display        : flex;
    justify-content: center;
    align-items    : flex-end;
    gap            : 20px;
}

header .nav-container .nav-menu ul li a {
    text-decoration: none;
    display        : flex;
    justify-content: center;
    align-items    : flex-end;
    font-weight: 600;
    /* text-transform: uppercase; */
    color          : var(--fundmax-2);
}
header .nav-container .nav-menu ul li a:hover {
    color          : var(--fundmax-5);
    border-bottom: var(--fundmax-5) 2px solid;
}
.hero{
    background-color: var(--fundmax);
    overflow: hidden;
    height: 500px;
    
}
.hero .hero-container .hero-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    padding-top: 30px;
    position: relative;
}
.hero .hero-container .hero-body .hero-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: var(--fundmax-2);
    width:55%; 
    
}
.hero .hero-container .hero-body .hero-content .main-title{
   font-size: 3.2rem;
   line-height: 3.7rem;
   font-weight: 600;
}
.hero .hero-container .hero-body .hero-content p{
    padding-top: 20px;
    line-height: 30px;
    font-size: 17px;
 }
 .hero .hero-container .hero-body .hero-content .download {
  margin-top: 40px;
   }
 .hero .hero-container .hero-body .hero-content .download ul{
  display: flex;
  gap: 10px;
  list-style: none;
 }
 .hero .hero-container .hero-body .hero-content .verify{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
    font-size: 14px;
   }
   .hero .hero-container .hero-body .hero-content .verify .verify-cbn{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .hero .hero-container .hero-body .hero-content .verify .verify-ndc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
   }
   .hero .hero-container .hero-body .hero-content .verify .verify-sec{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .hero .hero-container .hero-body .hero-content .verify .verify-cbn p{
    padding-top: 30px;
   }
   .hero .hero-container .hero-body .hero-image{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.hero .hero-container .hero-body .hero-image img .hero-img{
    margin-top: 70px;
}
.dash img{
    width: 90%;
    object-fit: cover;
}

.save .save-container .save-body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}
.save .save-container .save-body .save-content{
   width:40%;
}
.save .save-container .save-body .save-content h3{
   font-size: 40px;

 }
 .save .save-container .save-body .save-content p{
    font-size: 15px;
    padding-top: 20px;
    line-height: 26px;
  }
  .save .save-container .save-body .save-image{
    width: 40%;
  }
  .save .save-container .save-body .save-image img{
    height: 50%;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 1px 4px 4px 5px rgba(61, 108, 161, 0.363), 1px 3px 4px 2px rgba(72, 136, 196, 0.432) inset;
  }

 









section.saving .container{
    padding: 30px;
  padding-top: 4rem;
  }
  section.saving .container .row h3{
    font-size: 40px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  section.saving .container .row p{
    font-size: 15px;
  }
  .fun{
    background-color: #2c17621a;
    height: 50vh;
    width: 70%;
    border-radius: 10px;
}
.fun1{
    background-color: #f110001a;
    margin-top: 10px;
    height: 10vh;
    width: 70%;
    border-radius: 10px;
}
section.flexsave .container{
    padding: 30px;
  padding-top: 4rem;
  box-shadow: #0003c2 1px;
  }
  section.flexsave .container .row h3{
    font-size: 40px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  section.flexsave .container .row p{
    font-size: 15px;
}

footer{
    width: 100%;
    background-color: #010241;
    padding: 30px;
}
footer .container .row .col{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
footer .container .row .col h2{
    font-size: 14px;
    color: var(--fundmax-3);
  
}
footer .container .row .col p{
    font-size: 12px;
    color: var(--fundmax-2);
  
}
footer .container .row .col ul{
   list-style: none;
   padding-left: 0;
}
footer .container .row .col ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fundmax-2);
    font-size: 12px;
 }
 .logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
 }
 .logo img{
    width : 170px;
    height: 50px;
 }
 footer .footer-content{
    margin-top: 40px;
    text-align: center;
    color: #c9c8c8;
 }
 footer .footer-content .copyright{
  border-bottom: #fff 0.50px dashed;
  border-top: #fff 0.50px dashed;
  padding: 15px;
  font-size: 10px;
  line-height: 14px;
 
  
 }

 .saveflex .flex-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 60vh;
 }
 .saveflex .flex-container .flex-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--fundmax);
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    width: 70%;
 }
 .saveflex .flex-container .flex-content h2{
    font-size: 51px;
    line-height: 64.1px;
    color: var(--fundmax-2);
    font-weight: 600;
 }
 .saveflex .flex-container .flex-content p{
    font-size: 16px;
    color: var(--fundmax-2);
 }
 .saveflex .flex-container .flex-image{
    width:45%;
  }
 .saveflex .flex-container .flex-image img{
   object-fit: cover;
 }
 .savings-card{
    padding: 120px;
    background-color: var(--fundmax-3);
 }
 .savings-card .savings-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
 }
 .savings-card .savings-head h1{
    color: #010241;
    font-size: 51px;
    line-height: 64.1px;
    font-weight: 700;
    text-align: center;
 }
 .savings-card .savings-head p{
    color: #010241;
    font-size: 17px;
    text-align: center;
 }
 .savings-card .saving-body{ 
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin-top: 20px;
 }
 .savings-card .saving-body .saving-cd{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: var(--fundmax-2);
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 60%;
    height: 80vh;
    padding-bottom: 20px;
    position: relative;
}
.savings-card .saving-body .saving-cd h1{
    color: var(--fundmax);
    font-size: 25px;
    line-height: 42px;
    font-weight: 600;
}
.savings-card .saving-body .saving-cd p{
    color: var(--fundmax);
    font-size: 15px;
   padding-top: 15px;
   line-height: 25px;
   font-weight: 500;

}
.savings-card .saving-body .saving-cd .saving-cd-img{
 position: absolute;
 padding-top: 50px;
}
.savings-card .saving-body .saving-cd .saving-cd-img img{
    object-fit: cover;
    width: 90%;
    height: 10%;
  }
  .maxbank{
    position: relative;
  
  }
  .maxbank img{
    position: absolute;
    height: 70vh;
    width: 45%;
    border-radius: 10px;
    box-shadow: 1px 4px 4px 5px rgba(61, 108, 161, 0.363), 1px 3px 4px 2px rgba(72, 136, 196, 0.432) inset;
    bottom: 3px;
  
}

 
.signal{
    background-color: var(--fundmax-3);
    color: var(--fundmax);
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    gap: 5px;
}
.signal ion-icon{
    font-size: 20px;
}
.signal h4{
    padding-top: 11px;
    font-size: 20px;
}
.fundpay{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
 
}
.fundpay .fundpay-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.fundpay .fundpay-cont ion-icon{
    background-color: #fff;
    color: var(--fundmax);
    font-size: 20px;
    font-weight: bold;
    border-radius: 7px;
    padding: 1px;
    box-shadow:  1px 2px 0px 2px rgba(78, 97, 150, 0.164) inset;
}
.fundpay .fundpay-cont p{
  padding-top: 15px;
  font-size: 12px !important;
}
.bill img{
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}
.dicon .download ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

.const a{
    background-color: var(--fundmax-5);
    border-radius: 7px;
    padding: 7px;
    color: var(--fundmax);
}
