<%-include("../../partials/header2")%>
<div class="cent1" style="align-items: center;">
<section class="leaderBoard">
    <div class="leaderboard-header">
        <h4>Leader's Board</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat laudantium accusamus neque.</p>
    </div>
    <div class="leader-body">
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>
        <div class="custom-p2">
            <div class="custom-image">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="custom-content">
                <h4>Alphatech29</h4>
                <p>$50,000</p>
            </div>
        </div>

    </div>
</section>

  
</div>
<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>