
<%-include("../../partials/header2")%>
<div class="cent1" style="padding-top: 75px; overflow: hidden; padding-right: 7px;">

    <div class="upgrade-container">
        <div class="table-content">
            <table>
                <thead>
                    <tr>
                    <th>id</th>
                    <th>Package</th>
                    <th>Referral</th>
                    <th>Indirect Referral</th>
                    <th>Task</th>
                    <th>Status</th>
                </tr>
                </thead>
            
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Titan</td>
                        <td>$500</td>
                        <td>$200</td>
                        <td>200PC</td>
                        <td><span class="status active">Active</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Profession</td>
                        <td>$500</td>
                        <td>$200</td>
                        <td>400PC</td>
                        <td><span class="status inactive">Inactive</span></td>
                    </tr>
                  
                </tbody>
            </table>

            
</div>

    </div>










</div>













<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>