<%-include("../../partials/header2")%>

<section class="sky_vtutab">
<div class="Syk">
  <div class="VtuTab">
    <div class="buydata active" data-tab="buyairtime">Buy Airtime</div>
    <div class="buydata" data-tab="buydata">Buy Data</div>
  </div>

  <div class="Field active" id="buyairtime">
    <h4 class="titp">Easily recharge your phone and that your friends and family.</h4>
    <div class="Inputvtu" >
      <span class="inputsub">Phone Number:</span>
      <input type="tel" id="number" placeholder="09129079450" maxlength="13"></input>
    </div>

    <div class="Frame12573">
      <img class="network"  src="/image/download (1) 1.png" />
      <img class="network"  src="/image/download (1) 2.png" />
      <img class="network"  src="/image/download (1) 3.png" />
      <img class="network"  src="/image/download (1) 4.png" />
  </div>

  <div class="Inputvtu" >
    <span class="inputsub">Amount: </span>
    <input type="number" id="number" placeholder="₦ 1,000" maxlength="13"></input>
  </div>

  <select class="select-field">
    <option selected>Select Account to charge</option>
    <option value="bal">Act.Bal (₦5,000)</option>
    <option value="bal">Aff.Bal (₦5,000)</option>
    <option value="bal">Job.Bal (₦5,000)</option>
  </select>

  <button type="button" class="bot">Comfirm</button>

  </div>

  <div class="Field" id="buydata">
    <form action="">
    <h4 class="titp">Data is life, easily buy a data bundle for yourself and for your friends on our bank.</h4>
    <div class="Inputvtu" >
      <span class="inputsub">Phone Number: </span>
      <input type="tel" id="number" placeholder="09129079450" maxlength="13"></input>
    </div>

    <div class="Frame12573">
      <img class="network"  src="/image/download (1) 1.png" />
      <img class="network"  src="/image/download (1) 2.png" />
      <img class="network"  src="/image/download (1) 3.png" />
      <img class="network"  src="/image/download (1) 4.png" />
  </div>

  <select class="select-field">
    <option selected>Select Data Plan</option>
    <option value="">MTN 1GB #500 30DAYS</option>
    <option value="">MTN 1GB #500 30DAYS</option>
    <option value="">MTN 1GB #500 30DAYS</option>
    <option value="">MTN 1GB #500 30DAYS</option>
    <option value="">MTN 1GB #500 30DAYS</option>
  </select>

  <button type="button" class="bot">Comfirm</button>
</form>
  </div>
  </div>
</section>

<div class="cent">
<section class="RecentActivities">
  <div class="Viewmore">
      <div class="RecentActivities1">Recent Activities</div>
      <div class="RecentActivities1"><a href="#viewmore" style="text-decoration: none;">View More</a></div>
  </div>
  <div class="ListFrame1">
   
    <div class="Listly">
      <img class="vpd" src="/image/download (1) 1.png" />
    <div class="Frame1256684">
        <div class="WelcomeBonus1" >Data to 09129079450 </div>
        <div class="timelist">9th July 2023 | 3:30pm</div>
    </div>

    <div class="Frame1256684">
      <div class="WelcomeBonus">500MB</div>
      <div class="timelist" style="color: #00D293; font-size: 12px; font-family: DM Sans; font-weight: 500">Successful</div>
    </div>
    
    </div>
    <div class="Listly">
      <img class="vpd" src="/image/download (1) 3.png" />
    <div class="Frame1256684">
        <div class="WelcomeBonus1" >Airtime to 09129079450 </div>
        <div class="timelist">9th July 2023 | 3:30pm</div>
    </div>
    
    <div class="Frame1256684">
      <div class="WelcomeBonus" >₦1,000</div>
      <div class="timelist" style="color: #00D293; font-size: 12px; font-weight: 500">Successful</div>
    </div>
    
    </div><div class="Listly">
      <img class="vpd" src="/image/download (1) 1.png" />
    <div class="Frame1256684">
        <div class="WelcomeBonus1" >Data to 09129079450 </div>
        <div class="timelist">9th July 2023 | 3:30pm</div>
    </div>
    
    <div class="Frame1256684">
      <div class="WelcomeBonus">500MB</div>
      <div class="timelist" style="color: #00D293; font-size: 12px; font-weight: 500">Successful</div>
    </div>
    
    </div>
    <div class="Listly">
      <img class="vpd" src="/image/download (1) 3.png" />
    <div class="Frame1256684">
        <div class="WelcomeBonus1" >Airtime to 09129079450 </div>
        <div class="timelist">9th July 2023 | 3:30pm</div>
    </div>
    
    <div class="Frame1256684">
      <div class="WelcomeBonus">₦1,000</div>
      <div class="timelist" style="color: #00D293; font-size: 12px;  font-weight: 500">Successful</div>
    </div>
    
    </div>


<div class="Listly">
  <img class="vpd" src="/image/download (1) 1.png" />
<div class="Frame1256684">
    <div class="WelcomeBonus1" >Data to 09129079450 </div>
    <div class="timelist">9th July 2023 | 3:30pm</div>
</div>

<div class="Frame1256684">
  <div class="WelcomeBonus" >500MB</div>
  <div class="timelist" style="color: #00D293; font-size: 12px; font-weight: 500">Successful</div>
</div>

</div>
<div class="Listly">
  <img class="vpd" src="/image/download (1) 3.png" />
<div class="Frame1256684">
    <div class="WelcomeBonus1" >Airtime to 09129079450 </div>
    <div class="timelist">9th July 2023 | 3:30pm</div>
</div>

<div class="Frame1256684">
  <div class="WelcomeBonus">₦1,000</div>
  <div class="timelist" style="color: #00D293; font-size: 12px;  font-weight: 500">Successful</div>
</div>

</div>

  
  </div>
</section>
</div>
  
<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>


